.Sidebar{
    background: #6363FC;
    display:flex;
    flex-direction: column;
    position: relative;
    padding-top: 3rem;
    transition:all 300ms ease;
}
.logo{
    display:flex;
    height:2rem;
    font-weight: bold;
    font-size:14px;
    gap:0.7rem;
    align-items: center;
    justify-content: center;
    height: 3%;
}
.logo>img{
    width: 3rem;
    height: 3rem;
}
.logo>span{
    color:white;
}
.logo>span>span{
    color:var(--pink)
}
/* menu */
.menu{
    margin-top: 4rem; 
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* align-items: left; */

}
.menuItem{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.3rem;
    margin-left: 2rem;
    position: relative;
    color: rgba(245, 245, 245, 0.93);
    transition: all 300ms ease;
    font-size: 14px;
    border-radius: 0.5rem;
}
.menuItem:hover{
    cursor:pointer;
}
.active{
    background: var(--activeItem);
    margin-left: 0;
}

.active::before{
    content:'';
    width: 8px;
    height: 100%;
    background:var(--sidebar);
    margin-right: calc(1rem - 8px);
}
.menu .menuItem:last-child{
    position:absolute;
    bottom: 1rem;
    width: 100%;
}
.bars{
    display: none;
}
@media screen and (max-width: 1200px){
    .menuItem>span{
        display: none;
    }
    .Sidebar{
        width: 10rem;
    }
    .logo{
        margin-left: 0rem;
    }
    .logo #logotext{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .Sidebar{
        position: fixed;
        z-index: 9;
        background:#44156b;
        width: 45%;
        padding-right: 1rem;
        height: 100%;
        border-radius: 15px;
    }
    .menuItem>span{
        display: block;
    }
    .logo{
        display: flex;
    }
    .menu .menuItem:last-child{
        position:relative;
        margin-top:2rem;
    }
    .bars{
        display: flex;
        position:fixed;
        top: 1rem;
        z-index: 9;
        padding: 10px;
        border-radius: 10px;
    }

}